.outerbox {
    background-color: #dcd9c6;
    margin: 4% 8% 3% 8%;
    border: 3px;
    border-color: black;
    border-style: solid;
    padding: 5%;
}

.innerbox {
    background-color: #9e4e31;
    color: white;
    align-items: center;
    border: 3px;
    border-color: black;
    border-style: solid;
    transition: background-color 0.2s ease;
}

.innerbox:hover {
    background-color: #9b5c45;
}

#name {
    text-align: center;
    transition: background-color 0.2s ease;
}

p {
    text-align: center;
    font-size: large;
    padding: 10px 35px;
    line-height: 25px;
}

#lab_2 {
    text-align: center;
    font-family: "Gochi Hand", cursive;
}

.button {
    width: 150px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #5cdb95;
}

.button span {
    background: #f1f5f8;
    font-family: "Gochi Hand", cursive;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
}

.button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
}